logs/
screenshots/
[Jj]ourneymap/*
local/*
crash-reports/
schematics/
usercache.json
usernamecache.json
TrashSlotSaveState.json
WailaErrorOutput.txt
rhino.local.properties
patchouli_data.json
options.txt
minecraftinstance.json
knownkeys.txt
trees/
thingpacks/
tconplanner/
structurize/
schematics/
patchouli_books/
backups/
saves/
xaero/

XaeroWaypoints_BACKUP240807/New World/
